.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;

    button{
        padding: 10px 27px;
            border-radius: 5px;
            border: 1px;
            letter-spacing: 1px;
    }
}