.quizHeader{
    .header{
        .heading{
            letter-spacing: 2px;
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        
    }
    
}